@model IEnumerable<EntityFrameworkEg.Models.Contact>
@{
    ViewBag.Title = "Home Page";
}
<div>
    @Html.ActionLink("Create New","Create" ,"Home")
</div>
<br/>
<table class="table">
    <tr>
        <th>ContactName</th>
        <th>Location</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.ContactName
        </td>
        <td>
            @item.Location
        </td>
        <td> @Html.ActionLink("Detail", "Detail", new { id = item.ContactId })</td>
    </tr>
    }
</table>
<div>
    <select>

        @foreach (var item in Model)
        {
            <option>@item.ContactName</option>
        }
    </select>
</div>